.error {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 56px;
}

fieldset legend {
	font-weight: bold;
	font-size: 18px;
}

fieldset {
	background-color: rgba(45, 40, 88, 0.5);
	margin: 20px 10px 0px 10px;
	padding: 15px 20px 40px;
}

fieldset:hover {
	box-shadow: 0px 0px 10px #444;
}

label {
	color: #f0f0f5;
	display: inline-block;
	width: 280px;
	padding: 15px 0px;
}

input[type="date"], input[type="time"], input[type="text"] {
	width: 300px;
	height: 20px;
}

/* BOUTONS */
input[type="submit"], input[type="reset"] {
	float: right;
	padding: 15px;
	margin-right: 20px;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #e2e3e9;
	background-color: #424558;
	text-transform: uppercase;
	border-radius: 5px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
	box-shadow: 0px 0px 5px #444;
}

select {
	margin-top: 15px;
	margin-left: 4px;
	padding: 10px;
	font-size: 15px;
	color: #e2e3e9;
	background-color: #424558;
	border-radius: 5px;
}